
body{
    background: rgb(26, 26, 26); margin:0;
}
div{
    box-sizing: border-box;
}
header{
    background: rgb(26, 26, 26); padding: 15px;
    color: honeydew;
}
header h1{
    margin: 0;
}

div.post-feed{
    background: white;
    margin-top: 10px;
}
div.post-feed img{
    width: 100%;
    
}
div.post-feed .post-header div:first-child{
    display: inline-block;
    height: 40px;
    width: 90%;
    margin: 10px;
}
div.post-feed .post-header div:last-child{
    display: inline-block;
    width: 10%;
    text-align: right;
    padding: 10px;
    color: rgb(153, 152, 152);
}

div.post-feed h2, h4, div.post-feed p{
    padding: 10px;
    margin: 0;
}

div.container{
    width: 600px;
    margin: auto;
}

.icons{
    padding: 5px;
    margin: 5px;
    
}
